.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-container .input-container {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.login-container form {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.login-container span {
    margin-top: 10px;
}

.login-container span a {
    color: #bdbdbd;
    transition: 0.3s;
}

.login-container span a:hover {
    color: #ebebeb;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 30px;
    transition: 0.5s;
    padding-inline: 15px;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-overflow: ellipsis;
    color: #cbcbcb;
    border: 2px solid #505050;
    background-color: #00000000;
}

input[type="text"].is-invalid,
input[type="password"].is-invalid,
input[type="email"].is-invalid {
    border: 2px solid #ff14144f;
}

input[type="text"].is-valid,
input[type="password"].is-valid,
input[type="email"].is-valid {
    border: 2px solid #14ff144f;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible {
    outline: 4px solid #5050505b;
}

.btn-submit {
    height: 35px;
    transition: 0.5s;
    margin-top: 5px;
    border-radius: 30px;
    padding-inline: 25px;
    width: auto;
    border: none;
    cursor: pointer;
    margin-inline: auto;
    color: #ebebeb;
    backdrop-filter: blur(30px);
    background-color: #ffffff0d;
    box-shadow: 0px 2px 4px 0px #0000005e;
}

.btn-submit:hover {
    background-color: #ffffff1a;
    scale: 1.05;
}