.modal-back-blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: #00000000;
}

.modal-container {
    width: 95%;
    height: 60%;
    max-width: 400px;
    border-radius: 8px;
    padding-block: 40px;
    padding-inline: 30px;
    position: relative;
    box-sizing: border-box;
    background-color: #202020;
    box-shadow: 0px 4px 4px 0px #0000005e;
}

.modal {
    color: #eeeeee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;

}

.modal-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header h2 {
    margin: 0;
    padding: 0;
}

.modal-header .close-modal {
    top: 10px;
    border: 0;
    right: 10px;
    cursor: pointer;
    position: absolute;
    background-color: #00000000;
}

.modal-header .close-modal svg {
    height: 20px;
}

.modal-header .close-modal svg path {
    fill: #eeeeee;
}

.modal-body {
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-body p {
    margin: 0;
    padding: 0;
}

.modal-body svg {
    height: 90px;
}


.modal-body svg path {
    fill: #eeeeee;
}

.modal.error .modal-message {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: #cd4040;
}

.modal.error .modal-body svg path {
    fill: #cd4040;
}

.modal.alert .modal-message {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: #cd9c40;
}

.modal.alert .modal-body svg path {
    fill: #cd9c40;
}

.modal.success .modal-message {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: #68cd40;
}

.modal.success .modal-body svg path {
    fill: #68cd40;
}

.modal.info .modal-message {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: #406dcd;
}

.modal.info .modal-body svg path {
    fill: #406dcd;
}

.modal.success .modal-body svg {
    animation: success 0.5s forwards ease-in-out;
}

.modal.info .modal-body svg {
    animation: info 0.5s forwards ease-in-out;
}

.modal.error .modal-body svg {
    animation: error 0.5s forwards ease-in-out;
}

.modal.alert .modal-body svg {
    animation: alert 0.5s forwards ease-in-out;
}

@keyframes success {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }

    100% {
        transform: perspective(600px) rotateY(360deg);
    }
}

 @-webkit-keyframes info {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes info {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

@-webkit-keyframes error {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(1.5) rotateZ(180deg);
        transform: scale(1.5) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes error {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(1.5) rotateZ(180deg);
        transform: scale(1.5) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@-webkit-keyframes alert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes alert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}